// Font Sizes
$fs-h1: 4.8rem;
$fs-h2: 4rem;
$fs-h3: 3.3rem;
$fs-h4: 2.8rem;
$fs-h5: 2.3rem;
$fs-h6: 1.9rem;
$fs-base: 1.6rem;
$fs-caption: 1.3rem;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

// Colors
$color-green-light: #606c38;
$color-green-dark: #283618;
$color-orange-light: #dda15e;
$color-orange-dark: #bc6c25;
$color-white: #fefae0;
$color-black: #352208;
$color-brown-light: #806443;
$color-brown-dark: #685634;
$color-blue: #218697;

// Breakpoints
$bp-laptop-small: 64rem; //1024px
$bp-tablet: 48rem; //768px
$bp-mobile: 26.563rem; //425px
