.form {
  @include list-components-css($color-brown-dark);
  transition: all 0.5s, transform 1ms;

  @media only screen and (max-width: $bp-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(26.7px, 400px));
    column-gap: 2rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 8px;

    @media only screen and (max-width: $bp-tablet) {
      margin-bottom: 0px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    &--transition {
      transition: all 5s;
    }
  }

  &__label {
    font-size: $fs-base;
    text-transform: capitalize;
  }

  &__input {
    font-family: inherit;
    padding: 4px 4px;
    border-radius: 5px;
    border: none;
    width: 100%;

    &:is(:focus) {
      outline-color: $color-orange-dark;
    }

    &--textarea {
      padding: 0.5rem;
    }
  }

  &--transition {
    transition: all 0.2s, transform 2m;
  }

  &--hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;

    // @media only screen and (max-width: $bp-tablet) {
    //   display: none;
    // }
  }
}
