.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;

  &__logo {
    width: 8rem;
    height: 8rem;

    img {
      width: 100%;
    }
  }

  &__name {
    font-size: $fs-h3;
    font-weight: $fw-bold;
    display: flex;
    flex-direction: column;

    span {
      display: block;
      font-size: $fs-caption;
      font-weight: $fw-regular;
      @media only screen and (max-width: $bp-tablet) {
        display: inline-block;
      }
    }
  }
}

.tracker-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 77vh;
  overflow-y: scroll;
  width: 100%;

  @media only screen and (max-width: $bp-tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23.4rem, 1fr));
    height: auto;
  }

  .form {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  &::-webkit-scrollbar {
    display: none;
    // @media only screen and (max-width: $bp-tablet) {
    //   display: block;
    // }
  }
}

.copyright {
  font-size: $fs-caption;
}

.btn-container {
  display: flex;
  width: 100%;
  gap: 2rem;

  @media only screen and (max-width: $bp-tablet) {
    width: 50%;
  }
}

.copyright {
  text-align: center;
}

.logo-and-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;

  @media only screen and (max-width: $bp-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
